.main-content{
.adv{
   
    .adv-inner{
        height: 560px;
        width: 1140px;
        display: grid;
        grid-template-columns: 750px 360px;
        grid-gap: 30px;
        margin-top: 30px;
       margin-left: 390px;
        .adv-item-left{
            display: inline-block;
            .adv-item-left-content{
                margin-left: 338px;
                margin-top: -235px;
                .adv-item-left-title{
                    font-size: 30px;
                    font-family: @font-default;
                }
                .adv-item-left-btn
                {  
                    button{
                        height: 40px;
                        width: 108px;
                        background-color: #8262b5;
                        color: #ffffff;
                        font-size: 14px;
                        margin-left: 212px;
                    }
                }
            }
        }
        .adv-item-right{
            display: grid;
            grid-template-rows: 200px 330px;
            grid-row-gap: 30px ;
            .adv-item-right-top
            {
                .adv-line{
                    width: 300px;
                    height: 130px;
                    border: 1px solid #ffffff;
                    position: absolute;
                    margin-top: 35px;
                    margin-left: 30px;
                }
                display: inline-block;
                .adv-item-right-top-content{
                    margin-left: 52px;
                    margin-top: -100px;
                    .adv-item-right-top-title1{
                        text-transform: uppercase;
                        font-size: 16px;
                        color: #616161;
                    }
                    .adv-item-right-top-title2{
                        text-transform: uppercase;
                        font-size: 20px;
                        color: #000000;
                    }
                }
            }
            .adv-item-right-bot{
                display: inline-block;
                .adv-item-right-bot-content{
                    margin-left: 10px;
                    margin-top: -205px;
                    .adv-item-right-bot-title1{
                        text-transform: uppercase;
                        font-size: 16px;
                        color: #616161;

                    }
                    .adv-item-right-bot-title2{
                        text-transform: uppercase;
                        font-size: 20px;
                        color: #000000;
                    }
                    .adv-item-right-bot-btn{
                        button{
                            height: 40px;
                            width: 108px;
                            background-color: #8262b5;
                            color: #ffffff;
                            font-size: 14px;
                            margin-top: 20px;
                            margin-left: 42px;
                        }
                    }
                }

            }

        }

        
    }

}
    .product{
        .product-top{
        .product-top-inner{
        .product-logo{
            text-transform: uppercase;
            margin-left: 390px;
            margin-top: 80px;
            font-size: 12px;
            color: #8262b5;
        }
        .product-title{
            margin-left: 390px;
            margin-top: 20px;
            font-size: 24px;
            font-family: @font-default;
            text-transform: uppercase;
        }
        .line{
            border-bottom-color: 1px #8262b5;
            width: 50px;
            margin-left: 390px;
            margin-top: 30px;
        }
        }
        }
        .product-main{
                
            .product-main-inner{
                margin-left: 390px;
                margin-top: 50px;
               /*  width: 1140px;
                height: 560px; */
                display: grid;
                grid-template-columns: 263px 263px 263px 263px;
                grid-gap: 30px;
                .product-item{
                    .add-to-cart
                    { margin-top: -45px;
                        button{
                            width: 120px;
                            height: 40px;
                            background-color: #ffffff;
                            margin-left: 5px;
                            margin-top: -5px;
                            font-family: @font-title;

                        }
                    }
                .product-info{
                    .product-name{
                        font-size: 14px;
                        font-family: @font-product-price;
                        margin-top: 20px;
                        
                    }
                    .product-assessment{
                        .star{
                            width: 120px;
                            display: inline-block;
                            margin-top: 20px;
                            .checked{
                                color: #f8ba04;
                            }
                        }
                    }
                    .product-price{
                        display: flex;
                        margin-top: 20px;
                        .price{
                            font-size: 16px;
                            font-family: @font-product-price;
                        }
                        .price-sale{
                            margin-left: 5px;
                            font-size: 16px;
                            color: @main-color;
                            font-family: @font-product-price;
                        }
                    }
                }
            }
            }
        }
    }
    .news-events{
        height: 710px;
        background-image: url("../image/blog_bg.jpg");
        margin-top: 80px;
        &-inner{
            &-title{
                padding-top: 75px;
                text-align: center;
                text-transform: uppercase;
                .news-and-events{
                    font-size: 24px;
                    font-family: @font-default;
                }
                .lastest{
                    font-size: 12px;
                    font-family: @font-default;
                    color: @main-color;
                }
                .line{
                    margin-left: auto;
                    margin-right: auto;
                    width: 50px;
                    border-style: none none solid none;
                    border-bottom-color: #8262b5;
                    border-width: 1px;
                    margin-bottom: 50px;
                }
            }
            .news-events-slider{
                display: grid;
                grid-template-columns: 360px 360px 360px;
                grid-gap: 30px;
                margin-left: 390px;
                margin-top: 50px;
                .news{
                    .date-month{
                        width: 60px;
                        height: 60px;
                        border: 1px;
                        background-color: #a1d1dd;
                        position: absolute;
                        margin-top: -180px;
                        margin-left: 20px;
                        align-content: center;
                        .line-date{
                            width: 50px;
                            height: 50px;
                            border: 1px solid #ffffff;
                            position: absolute;
                            margin-left: 4px;
                            margin-top: 4px;
                            text-align: center;
                            .month{
                                margin-top: 9px;
                                font-size: 14px;
                                font-family: @font-title;
                                color: @border;
                                text-transform: capitalize;
                            }
                            .date{
                                margin: auto;
                                font-size: 14px;
                                font-family: @font-default;
                                color: @border;
                            }
                        }

                    }
                    .comment{
                        .comment-icon{
                            color: #cecece;
                            display: flex;
                            margin-left: 20px;
                            margin-top: 40px;
                            .icon-like{
                                margin-left: 35px;
                                color: #cecece;
                            }
                        }
                    }
                    .news-link{
                        margin-top: 20px;
                        margin-left: 20px;
                        font-size: 16px;
                        font-family: @font-title;
                        a{
                        text-decoration: none;
                        }
                    }
                    .news-content{
                        margin-top: 25px;
                        margin-left: 20px;
                        margin-right: 40px;
                        font-size: 16px;
                        font-family: @font-product-price;
                    }
                }
            }
            .dot-slider{
                margin-top: 25px;
                .dot{
                    height: 15px;
                    width: 15px;
                    margin: 0 2px;
                    background-color: #b3a6c8;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                }
                .dot:hover {
                    background-color: #8262b5;
                  height: 20px;
                    width: 20px;
                    margin: 0 2px;
              }
            }
    
        }
    }

}